<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590442223378-7u9r9fl13m6omrlncqcvlq9dte2m5pov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590442223378-7u9r9fl13m6omrlncqcvlq9dte2m5pov</string>
	<key>API_KEY</key>
	<string>AIzaSyAmghvT5Ep8ve3yXBNLUctOn3-GxWVSc6w</string>
	<key>GCM_SENDER_ID</key>
	<string>590442223378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felixc.EyesOnEth</string>
	<key>PROJECT_ID</key>
	<string>eyesoneth-3be47</string>
	<key>STORAGE_BUCKET</key>
	<string>eyesoneth-3be47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590442223378:ios:204d8425ece2f10a9445cb</string>
</dict>
</plist>